<!-- header -->
<app-header (onmenubtnClicked)="toggle()" ></app-header>

<!-- sidenav -->
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="sidebaropened">
        <!-- sidebar -->
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <!-- dashboard -->
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
  


<!-- divider line -->
<mat-divider></mat-divider>

<!-- footer -->
<app-footer></app-footer>

