<div>
    <!-- admin details -->
    <div class="profile">
        <img src="https://logodix.com/logo/1707081.png" alt="admin img">
        <h3>Admin</h3>
        <h4>admin@luminar.com</h4>
    
    </div>
    <mat-divider></mat-divider>
    <h2>Pages</h2>
    <div class="pages">
        <a href="">Dashboard</a>
        <a routerLink="employees">Employees</a>
        <a routerLink="gallery">Gallery</a>
    </div>
    <mat-divider></mat-divider>
    <h2>Tools</h2>
    <div class="pages">
        <a routerLink="contacts"> <mat-icon>contact_phone</mat-icon> Contact</a>
        <a routerLink="leads"> <mat-icon>leaderboard</mat-icon> Leads</a>
    </div>
</div>
