<div class="cards">
    <!-- card -->
    <!-- card1 -->
    <mat-card>
        <app-card bg="red" icon="group" description="Students" count="2000"></app-card>
    </mat-card>
    
        <!-- card2 -->
    <mat-card>
        <app-card bg="green" icon="home" description="institution" count="20"></app-card>
    </mat-card>

            <!-- card3 -->
    <mat-card>
        <app-card bg="yellow" icon="groups" description="Employees" count="200"></app-card>
    </mat-card>

        <!-- card4 -->
        <mat-card>
            <app-card bg="blue" icon="dashboard" description="Placements" count="1500"></app-card>
        </mat-card>
</div>

<div class="area">
    <!-- area -->
    <app-area-chart></app-area-chart>
</div>

<div class="tablepie">

    <div>
        <!-- table -->
        <app-table></app-table>
    </div>
    
    <div>
        <!-- pie chart -->
        <app-pie-chart></app-pie-chart>
        
    </div>

</div>