.cards{
    display: flex;
    
    justify-content: space-between;

    align-items: center;
}

.area{
    margin-top: 20px;
    margin-bottom: 20px;
}

.tablepie{
    display: flex;
    
    justify-content: space-between;
    margin-bottom: 20px;
}